.img-button {
  height: 2rem;
  width: 2rem;
  padding: 0;

  .img-button-icon {
    max-width: 100%;
    max-height: 100%;

    filter: invert(100%) sepia(2%) saturate(7%) hue-rotate(337deg)
      brightness(101%) contrast(101%);

    &.active {
      filter: invert(14%) sepia(74%) saturate(6873%) hue-rotate(358deg)
        brightness(101%) contrast(117%);
    }

    &.hoverable:hover {
      filter: invert(10%) sepia(79%) saturate(5099%) hue-rotate(357deg)
        brightness(81%) contrast(112%);
    }
  }
}
