.t9 {
  --cube-size: 4rem;
  --cube-size-with-border: calc(var(--cube-size) + (2 * 4px));
  --max-width: 23rem;

  .t {
    display: flex;
    flex-direction: column;
    cursor: default;

    width: var(--cube-size);
    height: var(--cube-size);
    border: var(--standard-border);
    border-radius: 8px;

    margin: 1rem 0;
  }

  .t-symbol,
  .t-code {
    flex-shrink: 0;
    width: calc(var(--cube-size));
    height: calc(var(--cube-size) / 2);
    align-content: center;
    text-align: center;
  }

  .t-symbol {
    font-size: 1.5rem;
  }

  .t-code {
    display: flex;
    flex-direction: row;

    .t-code-letter {
      flex-shrink: 0;
      width: calc(var(--cube-size) / 3);
      align-content: center;
      text-align: center;
    }
  }

  .t-action-container {
    text-align: center;
  }

  .action-select-player {
    display: flex;
    label {
      width: calc(var(--cube-size) - 1rem);
      flex-grow: 1;
      overflow-wrap: break-word;
    }

    input {
      flex-shrink: 0;
    }
  }

  .translate-area {
    --area-width: calc(var(--cube-size-with-border) * 3);

    margin: 2rem 0;

    align-content: center;
    text-align: center;
  }

  .translate-container {
    width: var(--area-width);
    margin: auto;
  }

  .translate-input {
    width: var(--area-width);
  }

  .translate-container-middle {
    margin: 0.5rem 0;
  }

  .t9-reverse-translate-complex {
    accent-color: red;

    ~ .tooltiptext {
      color: orangered;
    }
  }

  /* Edit */
  .config-area {
    max-width: 480px;

    .symbols {
      margin-top: 1rem;
    }

    .inline-edit {
      display: flex;

      .inline-edit-lable {
        width: 11rem;
      }

      .inline-edit-edit {
        width: 10rem;
      }
    }

    .multiline-edit-edit {
      .even-row {
        margin: 1rem 0;
      }
    }

    .symbols-area {
      width: 4rem;
      place-items: center;

      .select-container {
        width: 3rem;
        height: 3rem;
      }

      .letters-container {
        width: 4rem;
        margin-top: 1rem;
      }
    }
  }
}
