.settings-controller {
  width: calc(100vw - 2 * 1rem);
  padding: 0 1rem;

  fieldset {
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border-collapse: collapse;
  }

  .setting-import-export {
    display: flex;

    .spacer {
      flex-grow: 1;
    }

    button {
      width: 7rem;
    }
  }

  .setting-bool {
    label {
      margin-left: 1rem;
    }
  }
}
