.settings-controller {
  width: calc(100vw - 2 * 1rem);
  padding: 0 1rem;

  .setting-import-export {
    display: flex;

    .spacer {
      flex-grow: 1;
    }

    button {
      width: 7rem;
    }
  }

  .setting-bool {
    label {
      margin-left: 1rem;
    }
  }
}
