.settings-controller {
  .setting-import-export {
    display: flex;

    .spacer {
      flex-grow: 1;
    }

    button {
      width: 7rem;
    }
  }

  .setting-bool {
    label {
      margin-left: 1rem;
    }
  }

  .backup-buttons {
    margin-top: 1rem;
  }
}
