.cube-device {
  --cube-size: 4rem;

  .cube {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    cursor: default;

    width: var(--cube-size);
    height: var(--cube-size);
    border: var(--standard-border);
    border-radius: 8px;
  }

  .cube-symbole {
    display: none;
    position: absolute;
    transition: ease-in 0.3s;
    flex-shrink: 0;

    width: var(--cube-size);
    height: var(--cube-size);
    align-content: center;
    text-align: center;

    &.left {
      display: unset;
      transform: translate(calc(-1 * var(--cube-size)));
    }
    &.center {
      display: unset;
      transform: translate(0);
    }
    &.rigth {
      display: unset;
      transform: translate(var(--cube-size));
    }
  }

  .cube-action-container {
    margin: 1rem;
    text-align: center;

    &.disabled {
      .img-button-icon {
        filter: var(--svg-gray);
      }
    }
  }

  &.cube-device-edit {
    margin-bottom: 1rem;

    .inline-edit {
      margin-top: 1rem;
      display: flex;

      .inline-edit-lable {
        width: 11rem;
      }

      .inline-edit-edit {
        width: 10rem;
      }
    }

    .multiline-edit {
      margin-top: 1rem;

      .multiline-edit-lable {
        display: flex;
      }

      .multiline-edit-edit {
        width: 20rem;
        place-self: center;

        .multi-pick {
          margin-left: -4px; /* fix border of selector */
        }
      }
    }

    .symbol-type-edit {
      label {
        width: 7rem;
      }
    }

    .start-positions-lable {
      .tooltip {
        margin-left: 1rem;
      }

      .img-button {
        width: 1.2rem;
        height: 1.2rem;
        margin-top: 3px;
      }
    }

    .start-positions-edit,
    .link-select-edit {
      .select,
      .multi-pick {
        width: 3.5rem;
      }
    }
  }
}
