.ressource {
  display: flex;

  &:hover {
    color: greenyellow;

    .img-button-icon {
      filter: invert(89%) sepia(29%) saturate(1064%) hue-rotate(27deg)
        brightness(100%) contrast(104%);
    }
  }

  .ressource-name {
    display: inline-block;
    width: 6rem;
    overflow-wrap: anywhere;
  }

  .ressource-slots {
    flex-grow: 1;
  }

  .img-button {
    height: 1.2rem;
    width: 1.2rem;
  }
}
