.puzzle-edit-list {
  margin: 1rem;

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  thead {
    border-bottom: var(--standard-border);
  }

  th {
    text-align: left;
  }

  tr:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .th-type {
    width: 3rem;
  }

  .th-icon {
    visibility: collapse;
    width: 1.5rem;
  }

  .table-icon {
    text-align: center;

    .img-button {
      width: 1.2rem;
      height: 1.2rem;
      margin-top: 8px;
    }
  }

  .puzzle-edit-list-new-area {
    margin: 2rem 0;
  }

  .puzzle-edit-list-new-container {
    select {
      width: 7rem;
    }

    input {
      width: 7rem;
    }
  }
}
