.puzzle-edit-list {
  margin: 1rem;

  .th-type {
    width: 3rem;
  }

  .puzzle-edit-list-save {
    margin: 2rem 0;
  }

  .puzzle-edit-list-new-area {
    margin: 2rem 0;
  }

  .puzzle-edit-list-new-container {
    select {
      width: 7rem;
    }

    input {
      width: 7rem;
    }
  }
}
