.abstract-puzzle {
  .puzzle-header {
    display: flex;
    margin: 1rem;

    .puzzle-name {
      flex-grow: 1;
      align-content: center;
    }

    .puzzle-actions {
      display: flex;
      align-items: center;

      .img-button {
        margin-left: 1rem;
      }
    }
  }
}
